In [1]:
import pandas as pd

file_names = ['data/potholes_1.csv', 'data/potholes_2.csv']

potholes = pd.concat((pd.read_csv(i) for i in file_names))


potholes = potholes.iloc[:,
    [0, 1, 2, 5, 6, 9, 10, 11, 12, 13, 14, 16, 17, 18
    ]
]
potholes = potholes.dropna(subset = ["ZIP", "Community Area"])

potholes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558055 entries, 1 to 310476
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CREATION DATE       558055 non-null  object
 1   STATUS              558055 non-null  object
 2   COMPLETION DATE     550786 non-null  object
 3   CURRENT ACTIVITY    391921 non-null  object
 4   MOST RECENT ACTION  390310 non-null  object
 5   ZIP                 558055 non-null  float64
 6   X COORDINATE        557921 non-null  float64
 7   Y COORDINATE        557921 non-null  float64
 8   Ward                558054 non-null  float64
 9   Police District     558054 non-null  float64
 10  Community Area      558055 non-null  float64
 11  LATITUDE            557271 non-null  float64
 12  LONGITUDE           557271 non-null  float64
 13  LOCATION            557271 non-null  object
dtypes: float64(8), object(6)
memory usage: 63.9+ MB

In [2]:
census_data = pd.read_csv('data/chicago_census_data.csv')
census_data = census_data.iloc[:, [0,7,8]].dropna()

In [3]:
potholes_c = potholes.groupby(["Community Area"])['CREATION DATE'].count()
pd_holes = potholes_c.to_frame(name='count').reset_index()

potholes['Community Area'] = potholes['Community Area'].astype(int)
potholes_c = potholes.groupby(["Community Area"])['CREATION DATE'].count()
potholes_c = potholes_c.to_frame(name='Count').reset_index()
potholes_c

In [4]:
census_data.rename(columns = {'Community Area Number': 'Community Area'}, inplace = True)
census_data['Community Area'] = census_data['Community Area'].astype(int)
census_data
pd.merge(census_data, potholes_c, on = 'Community Area')

    Community Area  PER CAPITA INCOME   HARDSHIP INDEX  CREATION DATE
0                1               23939            39.0           9961
1                2               23040            46.0          15426
2                3               35787            20.0           5419
3                4               37524            17.0           7076
4                5               57123             6.0           6357
..             ...                 ...             ...            ...
72              73               19713            48.0           7636
73              74               34381            16.0           5099
74              75               27149            30.0           6706
75              76               25828            24.0           2320
76              77               33385            19.0           8907

[77 rows x 4 columns]