In [16]:
import pandas as pd

file_names = ['data/potholes_1.csv', 'data/potholes_2.csv']

potholes = pd.concat((pd.read_csv(i) for i in file_names))


potholes = potholes.iloc[:,
    [0, 1, 2, 5, 6, 9, 10, 11, 12, 13, 14, 16, 17, 18
    ]
]
potholes = potholes.dropna(subset = ["ZIP", "Community Area"])

potholes.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 558055 entries, 1 to 310476
Data columns (total 14 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   CREATION DATE       558055 non-null  object
 1   STATUS              558055 non-null  object
 2   COMPLETION DATE     550786 non-null  object
 3   CURRENT ACTIVITY    391921 non-null  object
 4   MOST RECENT ACTION  390310 non-null  object
 5   ZIP                 558055 non-null  float64
 6   X COORDINATE        557921 non-null  float64
 7   Y COORDINATE        557921 non-null  float64
 8   Ward                558054 non-null  float64
 9   Police District     558054 non-null  float64
 10  Community Area      558055 non-null  float64
 11  LATITUDE            557271 non-null  float64
 12  LONGITUDE           557271 non-null  float64
 13  LOCATION            557271 non-null  object
dtypes: float64(8), object(6)
memory usage: 63.9+ MB

In [26]:
census_data = pd.read_csv('data/chicago_census_data.csv', nrows = 1000)
census_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 78 entries, 0 to 77
Data columns (total 9 columns):
 #   Column                                        Non-Null Count  Dtype
---  ------                                        --------------  -----
 0   Community Area Number                         77 non-null     float64
 1   COMMUNITY AREA NAME                           78 non-null     object
 2   PERCENT OF HOUSING CROWDED                    78 non-null     float64
 3   PERCENT HOUSEHOLDS BELOW POVERTY              78 non-null     float64
 4   PERCENT AGED 16+ UNEMPLOYED                   78 non-null     float64
 5   PERCENT AGED 25+ WITHOUT HIGH SCHOOL DIPLOMA  78 non-null     float64
 6   PERCENT AGED UNDER 18 OR OVER 64              78 non-null     float64
 7   PER CAPITA INCOME                             78 non-null     int64
 8   HARDSHIP INDEX                                77 non-null     float64
dtypes: float64(7), int64(1), object(1)
memory usage: 5.6+ KB

In [27]:
census_data = census_data.iloc[:, [0, 7, 8]].dropna()
census_data.head()

   Community Area Number  PER CAPITA INCOME   HARDSHIP INDEX
0                    1.0               23939            39.0
1                    2.0               23040            46.0
2                    3.0               35787            20.0
3                    4.0               37524            17.0
4                    5.0               57123             6.0

In [61]:
potholes['Community Area'] = potholes['Community Area'].astype(int)
potholes_c = potholes.groupby(["Community Area"])['CREATION DATE'].count().reset_index
potholes_c
census_data.rename(columns = {'Community Area Number': 'Community Area'}, inplace = True)

Community Area
0.0       811
1.0      9961
2.0     15426
3.0      5419
4.0      7076
        ...
73.0     7636
74.0     5099
75.0     6706
76.0     2320
77.0     8907
Name: CREATION DATE, Length: 78, dtype: int64