In [1]:
%load_ext lab_black

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("../data/PublicReleaseArrestDataUPDATE.csv")

In [4]:
data.head()

,ARR_DISTRICT,ARR_BEAT,ARR_YEAR,ARR_MONTH,RACE_CODE_CD,FBI_CODE,STATUTE,STAT_DESCR,CHARGE_CLASS_CD,CHARGE_TYPE_CD
0,10.0,1033.0,2017,8,BLK,18,720 ILCS 570.0/407-B-1,MFG/DEL COCAINE/SCH/PUB HS/PK,X,F
1,9.0,923.0,2017,8,WWH,WRT,725 ILCS 225.0/13,FUGITIVE FROM JUSTICE - OUT OF STATE WARRANT,Z,NaN
2,10.0,1024.0,2017,8,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
3,11.0,1112.0,2017,8,BLK,18,720 ILCS 570.0/407-B-1,MFG/DEL HEROIN/SCH/PUB HS/PK,X,F
4,25.0,2524.0,2017,8,WHI,18,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),4,F

In [5]:
data.isnull().any()
# using 'RACE_CODE_CD" column to count as it does not have any NaN values

ARR_DISTRICT        True
ARR_BEAT            True
ARR_YEAR           False
ARR_MONTH          False
RACE_CODE_CD       False
FBI_CODE            True
STATUTE            False
STAT_DESCR         False
CHARGE_CLASS_CD     True
CHARGE_TYPE_CD      True
dtype: bool

In [6]:
data[data["ARR_DISTRICT"].isnull()]
# don't know why, probably missing data

,ARR_DISTRICT,ARR_BEAT,ARR_YEAR,ARR_MONTH,RACE_CODE_CD,FBI_CODE,STATUTE,STAT_DESCR,CHARGE_CLASS_CD,CHARGE_TYPE_CD
16,NaN,NaN,2017,9,BLK,26,720 ILCS 5.0/21-3-A-2,CRIMINAL TRESPASS TO LAND,B,M
133,NaN,NaN,2017,8,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
209,NaN,NaN,2017,9,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
258,NaN,NaN,2017,9,WHI,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
427,NaN,NaN,2017,8,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
...,...,...,...,...,...,...,...,...,...,...
410287,NaN,NaN,2017,3,BLK,TRF,625 ILCS 5.0/11-503-A-1,IVC - RECKLESS DRIVING,A,M
410370,NaN,NaN,2016,11,BLK,01A,720 ILCS 5.0/9-1-A-1,MURDER - FIRST DEGREE,M,F
410485,NaN,NaN,2017,3,WWH,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
410674,NaN,NaN,2017,2,BLK,01A,720 ILCS 5.0/9-1-A-1,MURDER - FIRST DEGREE,M,F
410679,NaN,NaN,2017,3,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN

In [46]:
arrestcounts = (
    data.pivot_table(
        values=["RACE_CODE_CD"],
        index=["ARR_DISTRICT"],
        columns=["ARR_YEAR"],
        aggfunc="count",
    )
    .reset_index()
    .rename(columns={"ARR_DISTRICT": "Police District", "RACE_CODE_CD": "COUNT",})
)
arrestcounts.index = arrestcounts["Police District"]
arrestcounts = arrestcounts["COUNT"]

ARR_YEAR          2014   2015   2016   2017
Police District
1.0               5188   4335   3697   3205
2.0               4756   3354   3086   2865
3.0               6573   5058   3829   3584
4.0               7417   6554   4230   4421
5.0               6408   4978   4498   4838
6.0               7340   6985   5434   5869
7.0               7901   8768   6049   5609
8.0               7640   6506   4379   3964
9.0               6016   5600   4224   3973
10.0              7810   6678   5406   5857
11.0             16159  14186  10985  10968
12.0              3755   3441   2557   2440
14.0              2596   2193   1886   1690
15.0              8813   7095   5295   4834
16.0              3063   2929   2033   2110
17.0              2160   2011   1604   1316
18.0              3753   3004   2343   2900
19.0              4152   3187   2629   2439
20.0              1600   1371   1021   1094
22.0              3309   2880   2409   2248
24.0              2429   2377   1777   1587
25.0              8760   8214   5525   4852

In [8]:
from combine import recombine

In [9]:
pothole = recombine("../data/potholes_1.csv", "../data/potholes_2.csv")

In [10]:
pothole.head()

,CREATION DATE,STATUS,COMPLETION DATE,SERVICE REQUEST NUMBER,TYPE OF SERVICE REQUEST,CURRENT ACTIVITY,MOST RECENT ACTION,NUMBER OF POTHOLES FILLED ON BLOCK,STREET ADDRESS,ZIP,X COORDINATE,Y COORDINATE,Ward,Police District,Community Area,SSA,LATITUDE,LONGITUDE,LOCATION
0,03/11/2014,Completed - Dup,04/20/2015,14-00343939,Pothole in Street,NaN,NaN,NaN,400 S AUSTIN BLVD,NaN,1.136454e+06,1.897424e+06,0.0,0.0,0.0,NaN,41.874650,-87.774615,"(41.874649785127, -87.774614950226)"
1,08/05/2018,Open,NaN,18-02306504,Pothole in Street,NaN,NaN,NaN,3921 W 77TH ST,60652.0,1.151404e+06,1.853111e+06,18.0,8.0,70.0,NaN,41.752697,-87.721288,"(41.752696566048, -87.721287716596)"
2,07/18/2018,Open,NaN,18-02134465,Pothole in Street,NaN,NaN,NaN,6030 N PETERSON AV EDENS XR,60646.0,1.142563e+06,1.939575e+06,39.0,16.0,12.0,NaN,NaN,NaN,NaN
3,11/26/2018,Open - Dup,NaN,18-03231860,Pothole in Street,NaN,NaN,NaN,5202 N LAKE SHORE DR SB,NaN,NaN,NaN,NaN,NaN,NaN,NaN,41.976672,-87.650814,"(41.976671733589, -87.650813515591)"
4,04/26/2018,Completed,04/30/2018,18-01332777,Pothole in Street,Final Outcome,Pothole Patched,10.0,1500 N LUIS MUNOZ MARIN DR,60622.0,1.154972e+06,1.909808e+06,26.0,14.0,24.0,NaN,NaN,NaN,NaN

In [17]:
pothole.isnull().any()

CREATION DATE                         False
STATUS                                False
COMPLETION DATE                        True
SERVICE REQUEST NUMBER                False
TYPE OF SERVICE REQUEST               False
CURRENT ACTIVITY                       True
MOST RECENT ACTION                     True
NUMBER OF POTHOLES FILLED ON BLOCK     True
STREET ADDRESS                         True
ZIP                                    True
X COORDINATE                           True
Y COORDINATE                           True
Ward                                   True
Police District                        True
Community Area                         True
SSA                                    True
LATITUDE                               True
LONGITUDE                              True
LOCATION                               True
creation_date                         False
completion_date                        True
creation_year                         False
dtype: bool

In [11]:
pothole["creation_date"] = pd.to_datetime(pothole["CREATION DATE"])
pothole["completion_date"] = pd.to_datetime(pothole["COMPLETION DATE"])
pothole["creation_year"] = pd.DatetimeIndex(pothole["creation_date"]).year

In [37]:
potholecounts = (
    pothole.pivot_table(
        values=["creation_date"],
        index=["Police District"],
        columns=["creation_year"],
        aggfunc="count",
    )
    .reset_index()
    .rename(columns={"creation_date": "COUNT", "creation_year": "Year"})
)
potholecounts.index = potholecounts["Police District"]

In [43]:
potholecounts = potholecounts["COUNT"]

In [52]:
potholecounts

creation_year,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
Police District,,,,,,,,,,
0.0,NaN,12.0,235.0,75.0,183.0,533.0,141.0,124.0,124.0,140.0
1.0,NaN,24.0,1542.0,1036.0,1636.0,3435.0,2237.0,1349.0,1414.0,1948.0
2.0,NaN,5.0,1400.0,1213.0,1869.0,3226.0,1574.0,1386.0,1328.0,1521.0
3.0,NaN,9.0,2222.0,1200.0,1605.0,3485.0,1439.0,1266.0,1493.0,1652.0
4.0,NaN,14.0,4206.0,2356.0,3605.0,7116.0,2912.0,3315.0,3619.0,2938.0
5.0,NaN,7.0,2490.0,1358.0,2667.0,3986.0,2083.0,1911.0,2310.0,2078.0
6.0,NaN,12.0,3266.0,1377.0,2822.0,5987.0,2120.0,1974.0,2430.0,2181.0
7.0,NaN,21.0,1957.0,1248.0,1556.0,2683.0,1382.0,1263.0,1332.0,1352.0
8.0,NaN,36.0,8689.0,5057.0,6917.0,13120.0,7285.0,5790.0,6892.0,6665.0
9.0,1.0,15.0,4142.0,2444.0,3724.0,6611.0,3579.0,2267.0,2451.0,2893.0
10.0,NaN,17.0,2597.0,1511.0,2048.0,4425.0,2039.0,1508.0,1832.0,2429.0
11.0,NaN,19.0,2470.0,968.0,1518.0,3988.0,1288.0,831.0,962.0,1417.0
12.0,NaN,10.0,2003.0,907.0,2635.0,6800.0,3263.0,2327.0,2901.0,3770.0
13.0,NaN,9.0,1617.0,896.0,NaN,NaN,NaN,NaN,NaN,NaN
14.0,NaN,29.0,3622.0,1725.0,3061.0,7037.0,2537.0,1834.0,2388.0,2725.0
15.0,NaN,20.0,2329.0,1132.0,1420.0,2840.0,958.0,648.0,744.0,1031.0
16.0,NaN,87.0,6382.0,3985.0,7240.0,12632.0,6641.0,5885.0,8201.0,6314.0
17.0,1.0,46.0,4250.0,1898.0,4332.0,8693.0,2909.0,2942.0,4325.0,3628.0
18.0,NaN,43.0,2656.0,1495.0,2074.0,4342.0,2449.0,1838.0,2095.0,2528.0
19.0,NaN,30.0,2542.0,2024.0,3688.0,7513.0,2726.0,2473.0,3185.0,2735.0
20.0,1.0,23.0,1841.0,1059.0,1921.0,3568.0,1306.0,1572.0,1944.0,1416.0
21.0,NaN,10.0,1583.0,213.0,NaN,NaN,NaN,NaN,NaN,NaN
22.0,NaN,7.0,3876.0,2580.0,4657.0,6301.0,3329.0,3732.0,3654.0,3233.0
23.0,NaN,13.0,1428.0,144.0,NaN,NaN,NaN,NaN,NaN,NaN
24.0,NaN,30.0,5459.0,2633.0,3838.0,5500.0,2113.0,2566.0,2865.0,1882.0
25.0,NaN,57.0,5335.0,2683.0,4550.0,9019.0,3519.0,2618.0,3327.0,4044.0
31.0,NaN,NaN,13.0,9.0,15.0,20.0,37.0,39.0,24.0,33.0

In [50]:
mergedcounts = pd.merge(arrestcounts, potholecounts, "left", left_on = '')

In [51]:
mergedcounts

     2014   2015   2016   2017  2009  2010  2011  2012  2013  2018
0    5188   4335   3697   3205   NaN   NaN   NaN   NaN   NaN   NaN
1    4756   3354   3086   2865   NaN   NaN   NaN   NaN   NaN   NaN
2    6573   5058   3829   3584   NaN   NaN   NaN   NaN   NaN   NaN
3    7417   6554   4230   4421   NaN   NaN   NaN   NaN   NaN   NaN
4    6408   4978   4498   4838   NaN   NaN   NaN   NaN   NaN   NaN
5    7340   6985   5434   5869   NaN   NaN   NaN   NaN   NaN   NaN
6    7901   8768   6049   5609   NaN   NaN   NaN   NaN   NaN   NaN
7    7640   6506   4379   3964   NaN   NaN   NaN   NaN   NaN   NaN
8    6016   5600   4224   3973   NaN   NaN   NaN   NaN   NaN   NaN
9    7810   6678   5406   5857   NaN   NaN   NaN   NaN   NaN   NaN
10  16159  14186  10985  10968   NaN   NaN   NaN   NaN   NaN   NaN
11   3755   3441   2557   2440   NaN   NaN   NaN   NaN   NaN   NaN
12   2596   2193   1886   1690   NaN   NaN   NaN   NaN   NaN   NaN
13   8813   7095   5295   4834   NaN   NaN   NaN   NaN   NaN   NaN
14   3063   2929   2033   2110   NaN   NaN   NaN   NaN   NaN   NaN
15   2160   2011   1604   1316   NaN   NaN   NaN   NaN   NaN   NaN
16   3753   3004   2343   2900   NaN   NaN   NaN   NaN   NaN   NaN
17   4152   3187   2629   2439   NaN   NaN   NaN   NaN   NaN   NaN
18   1600   1371   1021   1094   NaN   NaN   NaN   NaN   NaN   NaN
19   3309   2880   2409   2248   NaN   NaN   NaN   NaN   NaN   NaN
20   2429   2377   1777   1587   NaN   NaN   NaN   NaN   NaN   NaN
21   8760   8214   5525   4852   NaN   NaN   NaN   NaN   NaN   NaN