In [1]:
%load_ext lab_black

In [2]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [3]:
data = pd.read_csv("../data/PublicReleaseArrestDataUPDATE.csv")

In [4]:
data.head()

,ARR_DISTRICT,ARR_BEAT,ARR_YEAR,ARR_MONTH,RACE_CODE_CD,FBI_CODE,STATUTE,STAT_DESCR,CHARGE_CLASS_CD,CHARGE_TYPE_CD
0,10.0,1033.0,2017,8,BLK,18,720 ILCS 570.0/407-B-1,MFG/DEL COCAINE/SCH/PUB HS/PK,X,F
1,9.0,923.0,2017,8,WWH,WRT,725 ILCS 225.0/13,FUGITIVE FROM JUSTICE - OUT OF STATE WARRANT,Z,NaN
2,10.0,1024.0,2017,8,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
3,11.0,1112.0,2017,8,BLK,18,720 ILCS 570.0/407-B-1,MFG/DEL HEROIN/SCH/PUB HS/PK,X,F
4,25.0,2524.0,2017,8,WHI,18,720 ILCS 570.0/402-C,PCS - POSSESSION - POSS AMT CON SUB EXCEPT (A)(D),4,F

In [5]:
data.isnull().any()
# using 'RACE_CODE_CD" column to count as it does not have any NaN values

ARR_DISTRICT        True
ARR_BEAT            True
ARR_YEAR           False
ARR_MONTH          False
RACE_CODE_CD       False
FBI_CODE            True
STATUTE            False
STAT_DESCR         False
CHARGE_CLASS_CD     True
CHARGE_TYPE_CD      True
dtype: bool

In [6]:
data[data["ARR_DISTRICT"].isnull()]
# don't know why, probably missing data

,ARR_DISTRICT,ARR_BEAT,ARR_YEAR,ARR_MONTH,RACE_CODE_CD,FBI_CODE,STATUTE,STAT_DESCR,CHARGE_CLASS_CD,CHARGE_TYPE_CD
16,NaN,NaN,2017,9,BLK,26,720 ILCS 5.0/21-3-A-2,CRIMINAL TRESPASS TO LAND,B,M
133,NaN,NaN,2017,8,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
209,NaN,NaN,2017,9,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
258,NaN,NaN,2017,9,WHI,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
427,NaN,NaN,2017,8,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
...,...,...,...,...,...,...,...,...,...,...
410287,NaN,NaN,2017,3,BLK,TRF,625 ILCS 5.0/11-503-A-1,IVC - RECKLESS DRIVING,A,M
410370,NaN,NaN,2016,11,BLK,01A,720 ILCS 5.0/9-1-A-1,MURDER - FIRST DEGREE,M,F
410485,NaN,NaN,2017,3,WWH,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN
410674,NaN,NaN,2017,2,BLK,01A,720 ILCS 5.0/9-1-A-1,MURDER - FIRST DEGREE,M,F
410679,NaN,NaN,2017,3,BLK,WRT,725 ILCS 5.0/110-3,ISSUANCE OF WARRANT,Z,NaN

In [7]:
data.pivot_table(
    values=["RACE_CODE_CD"],
    index=["ARR_DISTRICT"],
    columns=["ARR_YEAR"],
    aggfunc="count",
).reset_index().rename(columns={"RACE_CODE_CD": "COUNT"})

         ARR_DISTRICT  COUNT
ARR_YEAR                2014   2015   2016   2017
0                 1.0   5188   4335   3697   3205
1                 2.0   4756   3354   3086   2865
2                 3.0   6573   5058   3829   3584
3                 4.0   7417   6554   4230   4421
4                 5.0   6408   4978   4498   4838
5                 6.0   7340   6985   5434   5869
6                 7.0   7901   8768   6049   5609
7                 8.0   7640   6506   4379   3964
8                 9.0   6016   5600   4224   3973
9                10.0   7810   6678   5406   5857
10               11.0  16159  14186  10985  10968
11               12.0   3755   3441   2557   2440
12               14.0   2596   2193   1886   1690
13               15.0   8813   7095   5295   4834
14               16.0   3063   2929   2033   2110
15               17.0   2160   2011   1604   1316
16               18.0   3753   3004   2343   2900
17               19.0   4152   3187   2629   2439
18               20.0   1600   1371   1021   1094
19               22.0   3309   2880   2409   2248
20               24.0   2429   2377   1777   1587
21               25.0   8760   8214   5525   4852